/* #navItems {
    float: right;
    text-align: right;
} */
.one{
    background-image: url('../images/Head.png'), url('../images/bg.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 600px;
}

.navbar {
    background-color: transparent;
}
.nav-item {
    font-size: medium;
    font-weight: 500;
    align-content: center;
    margin-right: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    opacity: 0.8;
}

.color-a {
    color: black !important;
}

.navbar {
    max-height: 4em;
}

.nav-collection {
    margin-left: auto;
    margin-right: 6em;
}

nav .navbar-nav li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-transition: 100ms;
}

/* .navbar { background-color: transparent; 
    -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear; 
} */

.scrolled-down{
    /* background-color: rgba(196, 247, 207, 1);  */
    /* -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear;  */
    /* box-shadow: 1px 1px 5px black ; */
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    background-color: rgba(196, 247, 207, 1); 
    -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear; 
    box-shadow: 1px 1px 5px black ;
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
 }
/* .myPhoto {
    margin: 0em;
    display: inline-block;
} */

.imgBlock {
    background-color: none;
    margin: 2em;
    text-align: center;
}

.main-container {
    margin-top: 5em;
}

.myPhoto {
    padding: 0;
}
/* .myImg {
    border-width: medium;
    border-style: solid;
    border-radius: 5px;
    align-content: center;
} */



.brand-photo {
    width: 45px; 
    height: 50px; 
    margin-left: 4em; 
    margin-right: 1em;
}

.text-center {
    margin-top: 5em;
}

@media all and (max-width: 767px)
{
    #navbarCollapse {
        background-color: rgb(114, 250, 3) !important;
        text-align: center;
        margin-right: -1em;
        margin-left: -1em;
    }

    .navbar {
        max-height: 4em;
        margin-right: 0em;
    }

    .nav-collection {
        margin-right: 0em;
    }
}

@media all and (max-width: 574px)
{
    .myText h2 {
        margin-top: 0em;
    }
}

@media all and (max-width: 574px)
{
    .brand-photo {
        margin-left: 0em;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .midContentBlocks .midContentBody {
    /* position: absolute; */
    /* top: 1.3em; */
    /* right: 0.8em; */
    text-align: center;
    }
}

.workIcons {
    vertical-align: middle;
}

.workIcons img{
    width: 100px;
}

.horizontal-scrollable > .row { 
    overflow-x: auto; 
    white-space: nowrap; 
} 

.horizontal-scrollable > .row > .col-md-2 { 
    display: inline-block; 
    float: none; 
} 

.midContentBlocks {
    position: relative;
    margin: 1em;
    padding: 0px;
    text-align: center;
    min-height: 10em;
    border-radius: 15px;
    transition: 0.2s;
}

.midContentBlocks:hover {
    transform: scale(1.2);
    
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  }

.midContentBlocks .midContentBody i {
    margin-top: 10px;
    font-size: 5em;
    opacity: 0.8;
    align-content: center;
}

.midContentBlocks .midContentBody i:hover {
    opacity: 1;
    cursor: pointer;
}

.midContentBlocks .midContentFooter {
    position: absolute;
    bottom: 0em;
    width: 100%;
    right: 0em;
    padding: 0.4em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
    text-align: center;
}

.midContentBlocks .midContentFooter a{
    font-size: 1em;
    color: black;
    text-decoration: none;
}


 
/* .midContentBlocks .midContentBody {
    position: absolute;
    top: 1.3em;
    right: 0.8em;
    text-align: center;
} */

.blog-block {
    position: relative;
    margin: 0em;
    margin-bottom: 1em;
    padding: 5px;
    min-height: 22em;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.blog-block:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.blog-block .blog-header {
    position: absolute;
    align-content: center;
    height: 2em;
    top: 0em;
    padding-top: 10px;
    font-size: medium;
}

.blog-block .blog-body {
    position: absolute;
    margin-top: 2em;
    margin-right: 2.5px;
    height: 13em;
    padding-right: 15px;
}

.blog-block .blog-footer {
    position: absolute;
    height: 7em;
    bottom: 0em;
    text-align: justify;
    padding: 2px;
    padding-right: 15px;
    font-size: small;
}

.blog-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.footer-values {
    background-image: url('../images/footer.png');
}

.img-Block-Footer {
    background-color: none;
    text-align: right;
}

.newsletter {
    padding: 20px 0;
    margin-bottom: 30px;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 1em;
}

/* .newsletter .input-group {
    /* border: 1px solid  #e02d2d; 
    padding-left: 3em;
    padding-right: 3em;
} */

.newsletter .form-control {
    border-radius: 0;
}

.newsletter .form-control:focus {
    box-shadow: none;
    border: 2px solid #ff0000;
}

.newsletter .btn {
    border-radius:0;
    background: #e02d2d;
    color: #fff;
    font-weight:600;
}

.list-unstyled li a{
    color: white;
    text-decoration: none;
}

.list-unstyled li a:hover{
    color: black;
}

.container .timeline-container {
    position: relative;
    margin: 0em;
    margin-bottom: 1em;
    padding: 5px;
    width: 100%;
}

.edu {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: xx-large;
    text-align: center;
}

.timelines {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-right: 8px solid black;
}

.educard {
    position: relative;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(196, 247, 207, 1); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    border-width: 2px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: -100px;
    margin-bottom: 10px;
}

.educard h4 {
    font-size: medium;
}

.card-blocks {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
}

/* .level-size {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 120px;   
    border-radius: 50%; 
    font-size: 24px;
    border-width: 10px;
    background-color: aqua;
} */

.level-size {
    width: 60px;
    height: 60px;   
    border-radius: 50%; 
    font-size: 24px;
    border: 5px solid rgb(123, 252, 129);
}

.level-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 6px 0px;
    background-color: red;
    transition: all 200ms ease-in-out;
}


.level-circle:hover {
    transform: scale(1.05);
    border-width: 0px;
}

#addedText {
    position: absolute;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: all 300ms linear;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.level-circle:hover  #addedText {
    margin-right: 200px;
    opacity: 1;
    /* transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out; */
}

.row .timelines:hover ~ .timeEdu .educard {
    border-color: yellow;
    /* transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out; */
}


.experience {
    border-width: 5px;
    border-color: tomato;
}

nav {
    box-shadow: none;
}


.scrolled-down{
    /* background-color: rgba(196, 247, 207, 1);  */
    /* -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear;  */
    /* box-shadow: 1px 1px 5px black ; */
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    background-color: rgba(196, 247, 207, 1); 
    -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear; 
    box-shadow: 1px 1px 5px black ;
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
 }

.scroll-left {
    visibility: visible;
    margin-left: 10px;
    margin-right: 0px;
    transition: all 0.3s ease-in-out;
}