/* #navItems {
    float: right;
    text-align: right;
} */
.one{
    background-image: url('../images/Head.png'), url('../images/bg.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 600px;
}

.navbar {
    background-color: transparent;
}
.nav-item {
    font-size: medium;
    font-weight: 500;
    align-content: center;
    margin-right: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    opacity: 0.8;
}

.color-a {
    color: black !important;
}

.navbar {
    max-height: 4em;
}

.nav-collection {
    margin-left: auto;
    margin-right: 6em;
}

nav .navbar-nav li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-transition: 100ms;
}

/* .navbar { background-color: transparent; 
    -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear; 
} */

.scrolled-down{
    /* background-color: rgba(196, 247, 207, 1);  */
    /* -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear;  */
    /* box-shadow: 1px 1px 5px black ; */
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    background-color: rgba(196, 247, 207, 1); 
    -webkit-transition: background-color 500ms linear; 
    -moz-transition: background-color 500ms linear; 
    -ms-transition: background-color 500ms linear; 
    transition: background-color 500ms linear; 
    box-shadow: 1px 1px 5px black ;
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
 }
/* .myPhoto {
    margin: 0em;
    display: inline-block;
} */

.imgBlock {
    background-color: none;
    margin: 2em;
    text-align: center;
}

.main-container {
    margin-top: 5em;
}

.myPhoto {
    padding: 0;
}
/* .myImg {
    border-width: medium;
    border-style: solid;
    border-radius: 5px;
    align-content: center;
} */



.brand-photo {
    width: 45px; 
    height: 50px; 
    margin-left: 4em; 
    margin-right: 1em;
}

.text-center {
    margin-top: 5em;
}

@media all and (max-width: 767px)
{
    #navbarCollapse {
        background-color: rgb(114, 250, 3) !important;
        text-align: center;
        margin-right: -1em;
        margin-left: -1em;
    }

    .navbar {
        max-height: 4em;
        margin-right: 0em;
    }

    .nav-collection {
        margin-right: 0em;
    }
}

@media all and (max-width: 574px)
{
    .myText h2 {
        margin-top: 0em;
    }
}

@media all and (max-width: 574px)
{
    .brand-photo {
        margin-left: 0em;
    }
}

.midContentBlocks {
    position: relative;
    /* border-style: solid;
    border-radius: 1.5em;
    border-color: tomato;
    border-width: medium; */
    margin: 1em;
    padding: 0px;
    text-align: center;
    min-height: 10em;
    border-radius: 15px;
}

.midContentBlocks:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.midContentBlocks .midContentBody i {
    margin-top: 10px;
    font-size: 5em;
    opacity: 0.8;
    align-content: center;
}

.midContentBlocks .midContentBody i:hover {
    opacity: 1;
}

.midContentBlocks .midContentFooter {
    position: absolute;
    bottom: 0em;
    width: 100%;
    right: 0em;
    padding: 0.4em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
    text-align: center;
}

.midContentBlocks .midContentFooter a{
    font-size: 1em;
    color: black;
    text-decoration: none;
}


 
/* .midContentBlocks .midContentBody {
    position: absolute;
    top: 1.3em;
    right: 0.8em;
    text-align: center;
} */

.blog-block {
    position: relative;
    margin: 0em;
    margin-bottom: 1em;
    padding: 5px;
    min-height: 22em;
    width: 100%;
    padding-top: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.blog-block:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.blog-block .blog-header {
    text-align: center;
    height: 2em;
    top: 0em;
    padding-top: 10px;
    position: absolute;
    font-size: medium;
}

.blog-block .blog-body {
    position: absolute;
    margin-top: 2em;
    margin-right: 2.5px;
    height: 13em;
}

.blog-block .blog-footer {
    position: absolute;
    height: 7em;
    bottom: 0em;
    text-align: justify;
    padding: 2px;
    font-size: small;
}

.blog-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.footer-values {
    background-image: url('../images/footer.png');
}

.img-Block-Footer {
    background-color: none;
    text-align: right;
}

.newsletter {
    padding: 20px 0;
    margin-bottom: 30px;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 1em;
}

/* .newsletter .input-group {
    /* border: 1px solid  #e02d2d; 
    padding-left: 3em;
    padding-right: 3em;
} */

.newsletter .form-control {
    border-radius: 0;
}

.newsletter .form-control:focus {
    box-shadow: none;
    border: 2px solid #ff0000;
}

.newsletter .btn {
    border-radius:0;
    background: #e02d2d;
    color: #fff;
    font-weight:600;
}